<!DOCTYPE html>
<html>
  <head>
    <title>Sample Client</title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
